{% extends 'core/base.html' %}
{% block title %}Principal{% endblock %}
{% load static %}
{% block content %}


    <!-- INICIO DE LA TARJETA -->
        <div class="container"> 
          <div class="card text-center my-3">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                {%  for object in object_list  %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'core:categoria_detail' object.id %}">{{object}}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="card-body">
              <h5 class="card-title">Matrices de Escalación</h5>
              <p class="card-text">El siguiente contenido es confidencial.</p>
            </div>
          </div>
        </div>
    <!-- /FIN DE LA TARJETA -->
{% endblock %}